/* Disable horizontal scrolling */

html, body {
    overflow-x: hidden;
}

pre {
    background-color: #1e1e24;
}

.sb-highlight {
    background-color: #fdff00 !important;
    color: black !important;
}

.sb-highlight:hover {
    background-color: #fdff00 !important;
    color: black !important;
}

.sb-highlight:visited {
    background-color: #fdff00 !important;
    color: black !important;
}

#sb-bottombanner {
    background-color: #fdff00 !important;

    display:flex;
    align-items:center;
}

#sb-bottombanner-content {
    width: 100%;
}

#sb-bottombanner-text {
    color: black !important;
}

#sb-bottombanner-text:hover {
    color: black !important;
}

#sb-bottombanner-text:visited {
    color: black !important;
}

.sb-navimg {
    border-radius: 12px;
    border-style: groove;
    border-color: white;
    border-width: 1px;
}

.sb-navcontent {
    position: absolute;
    top: 50%;
    left: 10%
    /* transform: translate(-50%, -50%); */
}

.sb-disclosure {
    position: absolute;
    top: 50%;
    left: 85%;
    /* transform: translate(-50%, -50%); */
}

/* .sb-navimgcontainer {
    padding: 10px;
    border-width:
    border-color: white;
} */

#sb-list {
    padding: 3%;
}