/* Disable horizontal scrolling */

html,
body {
  overflow-x: hidden;
}

pre {
  background-color: #1e1e24;
}

.sb-highlight {
  background-color: #fdff00 !important;
  color: black !important;
}

.sb-highlight:hover {
  background-color: #fdff00 !important;
  color: black !important;
}

.sb-highlight:visited {
  background-color: #fdff00 !important;
  color: black !important;
}

#sb-bottombanner {
  background-color: #fdff00 !important;

  display: flex;
  align-items: center;
}

#sb-bottombanner-content {
  width: 100%;
}

#sb-bottombanner-text {
  color: black !important;
}

#sb-bottombanner-text:hover {
  color: black !important;
}

#sb-bottombanner-text:visited {
  color: black !important;
}

#sb-bannerframe {
  margin: 0;
}

#sb-card-button {
  background-color: #fdff00 !important;
}

.sb-force-fullwidth {
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .sb-list-item {
    border-radius: 12px;
  }
}

@media only screen and (max-width: 1024px) {
  .sb-bio {
    text-decoration: underline !important;
  }
}

.sb-bio:hover {
  text-decoration: underline !important;
  cursor: pointer;
}

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
