{{ define "promo" }}
    <!-- Promo banner -->
    {{if ne .Params.bannertext ""}}
    <article class="message" id="sb-bannerframe">
        <div class="message-body has-text-centered">
            {{if ne .Params.bannerURL ""}}
            <a href="{{.Params.bannerURL}}">{{.Params.bannertext}} &rarr;</a>
            {{else}}
            {{.Params.bannertext}}
            {{end}}
        </div>
    </article>
    {{end}}
{{ end }}

{{ define "main" }}
<section class="hero is-dark is-fullheight-with-navbar" style="background-image: url('/images/home/baskinrov.jpg'); background-position: center; background-size: cover;">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Slugbotics
            </h1>
            <h2 class="subtitle">
                Hands-On Competitive Robotics at UCSC
            </h2>
            <h3 class="subtitle">
                Automate. Innovate. Empower.
            </h3>
            <button class="button is-primary is-large">
                <a href="http://discord.slugbotics.com/" target="_blank">Join Now</a>
        </div>
    </div>
  </section>
{{end}}
