{{ define "main" }}
{{ if (isset .Params "promoimg") }}
    <section class="hero is-primary is-large" style="background-image: url('/images/about/promo/{{.Params.promoimg}}'); background-position: center; background-size: cover;">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {{ .Title }}
                </h1>
                <h2 class="subtitle">
                    {{ .Params.subtitle }}
                </h2>
            </div>
        </div>
    </section>
{{ end }}
<div class="container">
    <section class="section">
        {{ if (not (isset .Params "promoimg")) }}
            <h1 class="title">
                {{ .Title }}
            </h1>
            <h2 class="subtitle">
                {{ .Params.subtitle }}
            </h2>
            <br>
        {{ end }}
    </section>

    <!-- TODO: Range over projects and show hero banners that are clickable -->
    <div class="columns is-multiline" id="sb-list">
        {{range .Pages}}
            <div class="column is-full sb-navitem">
                <a href="{{.Permalink}}">
                    <figure class="image sb-navimgcontainer">
                    <img class="sb-navimg" src="/images/about/promo/{{.Params.promoimg}}">
                    <div class="sb-navcontent">
                        <h1 class="title">{{.Title}}</h1>
                    </div>
                    <div class="sb-disclosure">
                        <h1 class="title">&rarr;</h1>
                    </div>
                </figure>
                </a>
            </div>
        {{end}}
    </div>
</div>
{{ end }}