<!-- Break Markdown formatting block -->
</div>

<div class="container slugbotics-social">
    <div class="level is-mobile">
        <div class="level-item">
            <a href="https://www.facebook.com/Slugbotics/">
                <i class="fab fa-facebook-square fa-4x"></i>
            </a>
        </div>
        <div class="level-item">
            <a href="https://www.instagram.com/slugbotics/">
                <i class="fab fa-instagram-square fa-4x"></i>
            </a>
        </div>
        <div class="level-item">
            <a href="https://www.linkedin.com/company/slugbotics/">
                <i class="fab fa-linkedin fa-4x"></i>
            </a>
        </div>
        <div class="level-item">
            <a href="https://www.youtube.com/channel/UCt55n_zVbW7QUO89-qKBeZw">
                <i class="fab fa-youtube-square fa-4x"></i>
            </a>
        </div>
    </div>
</div>

<!-- resume Markdown formatting block -->
<div class="content">